<div class="list-group-item">
  <h4 class="list-group-item-heading"> <%= link_to "#{post.user.first_name} #{post.user.last_name}", user_path(post.user)%> </h4>
  <p class="list-group-item-text"><%= post.content %></p>
  <p class="list-group-item-text">
      Posted <%= time_ago_in_words(post.created_at) %> ago.
  </p>
  <p class="list-group-item-text">
  	<% if post.likes.any? %>
  		<%= "#{post.likes.first.user.first_name} #{post.likes.first.user.last_name} and #{pluralize(post.likes.count-1, 'others')} have liked this post" %>
  	<% end %>
    <% if post.likes.any? {|h| h[:user_id] == current_user.id} %>
    	<%= link_to "Unlike Post", like_path(post), method: :delete  %>
    <% else %>
    	<%= link_to "Like Post", likes_path(:id => post.id), method: :post  %>
  	<% end %>
  </p>
  <p class="list-group-item-text delete">
	  <% if current_user == (post.user) %>
	  	<%= link_to "delete post", post, method: :delete, data: { confirm: "You sure?" }%>
		<% end %>
	</p>
</div>
